html, body {
    color: #838383;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ui.container {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

.ui.segment.primary-header {
    background: rgba(0,0,0,.05);
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding-right: 70px;
    box-sizing: border-box;
}

.ui.segment.primary-header a {
    color: #838383;
}

.ui.segment.primary-header a:hover {
    color: #838383;
}

.ui.segment.main-content {
    margin: 0 10%;
}

.ui.buttons {
    margin-right: 1.1rem;
}
