#############################################
#
# Global
#
#############################################

global
   log 127.0.0.1 local1
   log /dev/log local2 debug

   maxconn 4096

#############################################
#
# Defaults
#
#############################################

defaults
   log global

   option httplog
   option dontlognull
   option redispatch

   http-check expect status 200

   retries 3

   timeout connect 5s
   timeout client 60s
   timeout server 60s

#############################################
#
# Statistics
#
#############################################

listen STATS
   bind *:1936

   mode http

   stats enable
   stats uri /
   stats refresh 10s
   stats show-node

#############################################
#
# Frontends
#
#############################################

frontend HTTP
   bind *:80

   mode http
   option forwardfor

   http-request add-header X-Forwarded-Port 80 if !{ ssl_fc }
   http-request add-header X-Forwarded-Port 443 if { ssl_fc }
   http-request add-header X-Forwarded-Proto http if !{ ssl_fc }
   http-request add-header X-Forwarded-Proto https if { ssl_fc }

   acl is_MONITOR_PATH              path_beg -i /monitor
   acl is_V139_PATH                 path_beg -i /v1.39
   acl is_TEOMATE_HOST              hdr(host) -i teomate

   use_backend DOCKER_API           if is_TEOMATE_HOST is_V139_PATH
   use_backend MONITOR              if is_TEOMATE_HOST is_MONITOR_PATH

#############################################
#
# Backends
#
#############################################

backend MONITOR
   mode http
   option httpchk HEAD / HTTP/1.0
   server monitor localhost:1936

backend DOCKER_API
   mode http
   option httpchk GET /v1.39/containers/json HTTP/1.0
   server docker-api-01 osl.teoworks.com:2376 check
